<ul>
    <li><a href="/">Kodukene</a></li>
    <li><a href="/page2">Another one</a></li>
    <li><a href="/form">Form</a></li>
    <li><a href="/circle">Kerad</a></li>
    <li><a href="/movies">Filmid</a></li>
      {% if not user %}
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
{% else %}
         <li>
            {{user.name}}
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
         </li>
         {% endif %}
</ul>

